name: Build C# Project

on:
  push:
    branches:
      - main
      - master
      - develop
      - '**'
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '9.0.x'


    - name: Restore dependencies
      run: dotnet restore ./1.6/Source/ApexMechanoids.sln


    - name: Build solution
      run: dotnet build ./1.6/Source/ApexMechanoids.sln --no-restore

    - name: Run tests
      run: dotnet test ./1.6/Source/ApexMechanoids.sln --no-restore
